<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script type="application/javascript" th:src="@{main.js}" src="../static/main.js"></script>

</head>
<body>

<style>

    .container {
        padding: 2rem 0rem;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .table-image {
    td, th {
        vertical-align: middle;
    }
    }
</style>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Online Prescription</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/signout}"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <button class="btn btn-success newButton">New</button>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Patient Info</th>
                    <th scope="col">Diagnosis</th>
                    <th scope="col">Medicines</th>
                    <th scope="col">Prescribed at.</th>
                    <th scope="col">Next visit date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pres : ${prescriptions}">
                    <td th:text="${pres.patient.name}"></td>
                    <td th:text="${pres.diagnosis}"></td>
                    <td th:text="${pres.medicines}"></td>
                    <td th:text="${#dates.format(pres.createdAt, 'dd MMM, yyyy')}"></td>
                    <td th:text="${#dates.format(pres.nextVisitDate, 'dd MMM, yyyy')}"></td>
                    <td>
                        <a th:href="@{findOne/(id=${pres.id})}" class="btn btn-success editBtn" data-toggle="modal"><i class="fas fa-edit"></i></a>
                        <a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${pres.id }" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                        <div class="modal modal-warning fade in" th:id="modal-warning+${pres.id }" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h5 class="modal-title">Delete Prescription</h5>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure want to delete this prescription?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-outline" th:href="@{/deleteById/(id=${pres.id})}"><i class="fa fa-check"></i>&nbsp;Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:include="/edit-view"></th:block>
</body>
</html>